
/*******************/
/*     GENERAL     */
/*******************/
body{
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #333;
}
section{
  max-width: 1170px;
  width: 100%;
  background-color: #666;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 2px 2px black;
}
a{
  text-decoration: none;
  color: #7E7FED;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  font-weight: bolder;
  padding: 12px 4px;
}



/******************/
/*     HEADER     */
/******************/
.navbar{
  position: relative;
  height: 3em;
  background-color: #222;
  color: white;
  box-shadow: 0 0 2px 2px black;
}
.logoSite{
  height: 3em;
  padding-left: 2em;
}

.logMenu{
  padding: 15px;
  background-color: #222;
  border-radius: 3px;
  position : absolute;
  top: 3em;
  right: 0;
  box-shadow: 2px 2px black;
}
.logMenu input{
  width: 300px;
  background-color: white;
  margin: 0 auto;
}
.hide{
  display: none;
}


/******************/
/*   RESPONSIVE   */
/******************/
@media (max-width: 624px) {
  .logMenu{
    display: none;
  }
  .menuSite{
    display: none;
  }
  .menuBurger{
    display: inline;
    position: absolute;
    top: -1em;
    right: 2em;
    table-layout: fixed;
  }
  .burger{
    font-size: 3.5em;
    color: #7E7FED;
  }
  /* Modal Content/Box */
  .modal-content {
      position: relative;
      /*background-color: #333;*/
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      /*border: 1px solid #888;*/
      width: 100%; /* Could be more or less, depending on screen size */
  }
  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 3em;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(43,43,43); /* Fallback color */
      background-color: rgba(43,43,43,1); /* Black w/ opacity */
  }
  /* The Close Button */
  .close {
      position: absolute;
      top:0;
      right: 55px;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  .close2 {
      position: absolute;
      top:0;
      right: 55px;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  input{
    width: 70vw;
    line-height: 1.5em;
  }
  .burgerDropDown ul{
    background-color: #333;
  }
  .burgerDropDown ul li{
    margin: 0 auto;
    padding: 6% 0;
  }
}

@media (min-width: 624px) {
  .menuSite{
    position: absolute;
    top: 0;
    right: 1.3em;
    display: table;
    table-layout: fixed;
  }
  .menuBurger{
    display:none;
  }
  .menuSite li{
    display: table-cell;
    table-layout: fixed;
    list-style: none;
    padding-left: 0.5em;
  }
  .menuSite li a:hover{
    background-color: #7E7FED;
    color:white;
    border-radius: 5px;
  }
  /* Modal Content/Box */
  .modal-content {
      position: relative;
      background-color: #444;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px;
      width: 50%; /* Could be more or less, depending on screen size */
  }
  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* The Close Button */
  .close {
      position: absolute;
      top:0;
      right: 20px;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  .close2 {
      position: absolute;
      top:0;
      right: 20px;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  input{
    width: 40vw;
    line-height: 1.5em;
  }
}



/************************/
/*      MODAL LOGIN     */
/************************/
form.loginModal {
    padding: 0 10%;
}
input#connexion{
  padding: 2px;
  margin-top: 5px;
  margin-left: 2px;
}
form label{
  display: inline-block;
  text-align: center;
}
/************************/
/*      MODAL REGISTER  */
/************************/
input#register{
  padding: 2px;
  margin-top: 1em;
  margin-left: 6.7em;
}







.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*
Couleur générale First Side:
#7E7FED
#83A2F7
#82B4E0
#83DFF7
#7EEDE6
#ffffff
#cccccc
*/
